{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block banner %}
    <div class="container jumbotron myjumbo" style="background: linear-gradient(to right, #3e4957 , #22303e)">
        <h1>&lt;Log In&gt;</h1>
    </div>
{% endblock %}
{% block content %}

    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="" class="form form-horizontal">
        <!-- Form Name -->
        {#      <legend>Log In</legend>#}
        {{ form.csrf_token }}
        {{ render_field(form.email, class="input-xlarge",placeholder="email") }}
        {{ render_field(form.password, class="input-xlarge", placeholder="password") }}
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button type="submit" id="sign_in" class="btn btn-primary">Log In</button>

            </div>
                <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Reset</a></p>
                <p>New user? <a href="{{ url_for('auth.register') }}">Register</a></p>
        </div>
    </form>

{% endblock %}