{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block banner %}
    <div class="container jumbotron myjumbo" style="background: linear-gradient(to right, #3e4957 , #22303e)">
        <h1>&lt;Register&gt;</h1>
    </div>
{% endblock %}
{% block content %}
    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="" class="form form-horizontal">
        <!-- Form Name -->
        {#  <legend>Sign Up</legend>#}
        {{ form.csrf_token }}
        {{ render_field(form.username, class="input-xlarge",placeholder="username") }}
        {{ render_field(form.email, class="input-xlarge", placeholder="email") }}
        {{ render_field(form.password, class="input-xlarge", placeholder="password") }}
        {{ render_field(form.confirm_password, class="input-xlarge", placeholder="password") }}
        {% if form.recaptcha %}
            <label for="">reCAPTCHA</label>
            <!-- TODO Custom Style reCAPTCHA -->
            {{ form.recaptcha }}
        {% endif %}
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button type="submit" id="sign_up" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
{% endblock %}