{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block banner %}
    <div class="container jumbotron myjumbo" style="background: linear-gradient(to right, #3e4957 , #22303e)">
        <h1>&lt;Password Reset&gt;</h1>
    </div>
{% endblock %}
{% block content %}
    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="" class="form form-horizontal">
        {{ form.csrf_token }}
        {{ render_field(form.email, class="input-xlarge", placeholder="email") }}

        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button type="submit" id="sign_up" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
{% endblock %}