[Bit9]
User: user
Password: password

[VirusTotal]
PublicApiKey: key
# IntelApiKey: key

[TotalHash]
# User: user
# Key: key

[Metascan]
# IP: ip
# Port: port

[SITE]
Url: malice.com
Email: yourname@malice.com
ErrorEmail: support@malice.com
Github: https://github.com/black-top/malice

[Proxie]
# HTTP: http://10.10.1.10:3128
# HTTPS: http://10.10.1.10:3128
# APT: http://10.10.1.10:3128

[Email]
Username: username
Password: password
Server: smtp.example.com
Port: 465

[LDAP]
LDAP_HOST: 'ldap.example.com'
LDAP_DOMAIN" 'example.com'
LDAP_AUTH_TEMPLATE: 'login.html'
LDAP_PROFILE_KEY: 'employeeID'
LDAP_AUTH_VIEW: 'login'

[reCAPTCHA]
PublicKey: pubkey
PrivateKey: privkey
