{% extends "base.html" %}
{% block title %}Request entity too large{% endblock %}


{% block banner %}
    <div class="container jumbotron">
        <h1 class="text-center">
            <small> Damn that's a big file, what are you trying to do to me?!</small>
        </h1>
        <img src="../../static/img/rage/sad-forever-alone-face-only.png" alt="Responsive image"
             class="img-responsive img-circle center-block"></div>
{% endblock %}

{% block content %}
    <h3>This isn't DropBox yo, feed me malware.  Not your pirated DVD collection.</h3>
    <br>
    <p><a class="btn btn-primary" href="{{ url_for('index') }}">home</a></p>
{% endblock %}