{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block banner %}
        <div class="container jumbotron">
        <h1>
           <img src="../../static/img/rage/rage.png" alt="Responsive image" class="img-responsive img-circle"
                         style="height:200px;">
            <small> What did you do!!!!??</small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <h1>Server Error</h1>
    <h2>{{ reason }}</h2>
    <p><a href="{{ url_for('index') }}">home</a></p>
{% endblock %}