{% extends "base.html" %}
{% block title %}Analysis{% endblock %}
{% block banner %}
    <div class="container jumbotron myjumbo" style="background: linear-gradient(to right, #3e4957 , #22303e)">
        <h1>&lt;Analysis&gt;</h1>
    </div>
{% endblock %}
{% block content %}
    <!-- BASIC INFO PANEL________________________________________________ -->
    {% include 'analysis/basic_info.html' %}
    <!-- Nav Tabs________________________________________________________ -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#analysis" data-toggle="tab">
            <span class="glyphicon glyphicon-list-alt">  Analysis</span></a></li>
        <li><a href="#filedetail" data-toggle="tab">
            <span class="glyphicon glyphicon-zoom-in"></span>  File Detail</a></li>
        <li><a href="#additionalinfo" data-toggle="tab">
            <span class="glyphicon glyphicon-info-sign"></span>  Additional Info</a></li>
        <li><a href="#intel" data-toggle="tab">
            <span class="glyphicon glyphicon-cloud-download"></span>  Intel</a></li>
        <li><a href="#behavioral" data-toggle="tab">
            <span class="glyphicon glyphicon-eye-open"></span>  Behavioral</a></li>
    </ul>

    <div class="tab-content">
        <!-- ANALYSIS Tab Pane_________________________________________ -->
        {% include 'analysis/analysis_tab.html' %}
        <!-- FILE DETAIL Tab Pane______________________________________ -->
        {% include 'analysis/file_detail_tab.html' %}
        <!-- ADDITIONAL INFO Tab Pane__________________________________ -->
        {% include 'analysis/additional_info_tab.html' %}
        <!-- INTEL Tab Pane____________________________________________ -->
        {% include 'analysis/intel_tab.html' %}
        <!-- BEHAVIORAL Tab Pane_______________________________________ -->
        {% include 'analysis/behavioral_tab.html' %}
    </div>
{% endblock %}