{% extends "base.html" %}
{% block title %}Samples{% endblock %}
{% block banner %}
    <div class="container jumbotron myjumbo" style="background: linear-gradient(to right, #3e4957 , #22303e)">
        <h1>&lt;Samples&gt;</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="table-responsive" id="sample_table">
        <table class="table table-hover table-condensed sortable" style="padding-top: 14px;">
            <thead>
            <tr>
                <th>File Name</th>
                <th>Hash</th>
                <th data-defaultsort="des">Scanned</th>
                <th>Owner</th>
                <th>Ratio</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="sample_table_body">
            {% for sample in samples %}
                <tr>
                    <td>{{ sample.filename }}</td>
                    <td><a href="{{ url_for('sample', id=sample.md5) }}">{{ sample.md5 }}</a></td>
                    <td>
                        <script>
                            document.write(moment("{{ sample.upload_date }}").format("MM-DD-YYYY HH:mm:ss"));
                        </script>
                        (
                        <script>document.write(moment("{{ sample.upload_date }}").fromNow());</script>
                        )
                    </td>
                    <td>{{ sample.uploaded_by }}</td>
                    {% if sample.filestatus == 'Complete' %}
                        <td id="detect_ratio"><span class="label label-success" id="label_span">
                                {{ (sample.detection_ratio.infected/sample.detection_ratio.count) | percent }}
                            </span></td>
                    {% else %}
                        <td>{{ '' }}</td>
                    {% endif %}
                    <td>{{ sample.filestatus }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <ul>
            <li{% if not pagination.prev_page %} class="disabled"{% endif %}><a
                    {% if pagination.prev_page %}
                        href="{{ url_for('samples', page=pagination.prev_page) }}"
                    {% endif %}>Prev</a>
            </li>
            {% for page in pagination.pages %}
                {% set url_paged = url_for('samples', page=page) %}
                {% set url_not_paged = url_for('samples') %}
                <li {% if page == pagination.current_page %}class="active"{% endif %}><a
                        {% if page != pagination.current_page %}href="
                                {% if page == 1 %}
                                    {{ url_not_paged }}
                                {% else %}
                                    {{ url_paged }}
                                {% endif %}"
                        {% endif %}>
                    {{ page }}</a>
                </li>
            {% endfor %}
            <li {% if not pagination.next_page %}
                class="disabled"
            {% endif %}><a{% if pagination.next_page %}
                href="{{ url_for('samples', page=pagination.next_page) }}"
            {% endif %}>Next</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sample_table_body tr").each(function () {
                var $this_row = $(this);
                var $this_dr_cell = $(this).find("#detect_ratio");
                var dr = $this_dr_cell.text();
                dr = parseInt(dr.replace("%", ''));
                <!-- Detection Ratio -->
                if (dr < 25) {
                    $this_dr_cell.find("#label_span").attr('class', "label label-success");
                }
                if (dr > 25) {
                    $this_dr_cell.find("#label_span").attr('class', "label label-warning");
                }
                if (dr > 50) {
                    $this_dr_cell.find("#label_span").attr('class', "label label-danger");
                }
            });
        });
    </script>
{% endblock %}