{% extends "base.html" %}
{% block title %}System{% endblock %}
{% block banner %}
    <div class="container jumbotron myjumbo" style="background: linear-gradient(to right, #3e4957 , #22303e)">
        <h1><span class="glyphicon glyphicon-signal"></span> &lt;System Health&gt;</h1>
    </div>
{% endblock %}

{% block content %}
    <p class="lead"> Uh, we had a slight weapons malfunction, but uh... everything's perfectly all right now.<br>
        We're fine... We're all fine here now, thank you. How are you?<br>
    <div class="lead text-danger text-center">We're sending a squad up.</div><br>
    </p>
    <img src="../static/img/starwars/we_are_all_fine_here.jpg" alt="Responsive image" class="img-responsive">
    <p class="lead"><br>Uh, uh... negative, negative. <br>We had a reactor leak here now. <br>Give us a few minutes to
        lock it down.
        <br>Large leak, very <br></p>
    <div class="lead text-danger text-center">Who is this? What's your operating number?</div>
    <p class="lead">Uh... <br>Boring conversation anyway.<br><br>
        <img src="../static/img/starwars/we_are_going_to_have_company.jpg" alt="Responsive image"
             class="img-responsive">
    </p>
    <!-- <br><strong>LUKE, WE'RE GONNA HAVE COMPANY!</strong><br> -->
{% endblock %}